body {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 16pt;
}

h1 {
	/*text-shadow: 2px 2px 2px white;*/
	font-size: 80px;
	margin: 0;
}




header{
	background: #F3CCD8/*rgba(255, 220, 234,.7)*/;
	/*box-shadow: 0 5px 5px gray;*/
	/*border-radius: 20px;*/
	padding: 40px 10px 5px;
	margin: 16px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	color: white;
}

#header-nav {
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	text-align: center;
	font-size: 20pt;
}

a {
	text-decoration: none;
	padding: 5px;
}
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */

.titles {
	font-family: 'Poiret One', cursive;
	text-align: center;
}

.main-boxes {
	/*border-radius: 20px;*/
	background: #BFB5B8;
	margin: 16px;
	display: flex;
	flex-direction: row;
	color: white;
	/*box-shadow: 1px 5px 5px 1px gray;*/

}
#developer-img {
	border-radius:200px;
	box-shadow: 0 5px 5px black;
	margin: 20px;
}

#about-text {
	padding: 50px 10px;
}

.projects-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #F3CCD8;

}

.project-box {
	width: 46%;
	padding: 50px 10px;
	margin: 10px 0;
	text-align: center;
	color: white;
	/*border-radius: 20px;*/
	/*box-shadow: 0px 0px 5px 0px gray;*/*/
}

.projects-img{
	box-shadow: 1px 5px 5px 1px gray;
	max-width: 100%;
	max-height: 300px;
}

.project-links{
	color: white;
}

ul {
	list-style: none;
}

#contact-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*border-radius: 10px;*/
	/*box-shadow: 1px 5px 5px 1px gray;*/
	margin: 10px 0px;
	padding: 10px 0;
	text-align: center;
	background: #BFB5B8;
	color: white;
}

footer{
	margin-top: 30px;
	text-align: center;
}


@media (orientation: portrait) {
	.main-boxes {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	#developer-img{
		margin-top: 20px;
		align-items: center;
		border-radius: 300px;
		height: 500px;
	}
	#about-text {
		padding:0 5px 10px;
		font-size: 30pt;
	}
	.projects-box {
		margin-top: 0px;
	}

	.project-box {
		width: 100%;
		background: white;
		color: black;
		font-size: 30pt;
		/*border-bottom: 1px solid gray;*/
		margin: 0px;
		padding: 0px;
	}

	h2 {
		font-size: 50pt;
		/*margin-bottom: 0px;*/
	}

	#header-nav {
		font-size: 40pt;
	}

	#contact-info{
		display: flex;
		flex-direction: column;
		font-size: 30pt;
	}

	#Contact-Me {
		border-top: 1px solid gray;
		padding-top: 100px;
	}

	#project-img-div{
		background: #F3CCD8;
		padding: 80px;

	}
	.projects-img{
		max-height: 500px;
	}
	hr {
		display: none;
	}
	footer{
		padding: 50px 50px 10px;
		font-size: 20pt;
	}
}
