body {

	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 16pt;
}

h1 {
	text-shadow: 2px 2px 2px gray;
	font-size: 80px;
	margin: 0;
}




header{
	background: rgba(255, 220, 234,.7);
	box-shadow: 0 5px 5px gray;
	border-radius: 20px;
	padding: 40px 10px 5px;
	margin: 10px 20px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}

#header-nav {
	font-family: 'Julius Sans One', sans-serif;
	padding: 20px;
	text-align: center;
	font-size: 20pt;
}
a {
	text-decoration: none;
	padding: 5px;
}
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */

.titles {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}

.main-boxes {
	border-radius: 20px;
	margin: 10px 20px;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 5px 5px 1px gray;

}
#developer-img {
	border-radius:200px;
	box-shadow: 0 5px 5px black;
	margin: 20px;
}

#about-text {
	padding: 50px 10px;
}

.projects-box {
	/*margin: 10px auto;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.project-box {
	width: 45%;
	padding: 50px 10px;
	margin: 15px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 1px 5px 5px 1px gray;
}

.projects-img{
	box-shadow: 1px 5px 5px 1px gray;
	max-width: 100%;
	max-height: 300px;
}

ul {
	list-style: none;
}


footer{
	text-align: center;
}
