* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 18pt;
	position: relative;
}


i {
	color: white;
}



.header{
	height: 98vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba(231,70,119, 0.9),
		rgba(243,204,216,0.9)),
	url(https://i.imgur.com/Id7uOHD.jpg);
	background-size: cover;
	background-position: bottom;
	margin: 16px;
	text-align: center;
	color: white;
	position: relative;
}

.header-primary-text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.header-primary-text {
	font-family: 'Poiret One';
	color: #fff;
	backface-visibility: hidden;
}

.header-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.header-primary-sub {
	display: block;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 5px;
	animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80%{
		transform: translateX(-2px);

	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translate(100px);
	}

	80%{
		transform: translateX(-2px);

	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

#header-nav {
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 20pt;
	text-align: center;
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	top: 0px;
}

a {
	text-decoration: none;
	padding: 5px;
}
a:link {color:rgba(231,70,119, 0.9);}    /* unvisited link */
a:visited {color:rgba(231,70,119, 0.9);} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */

.titles {
	font-family: 'Poiret One', cursive;
	color: white;
	text-align: center;
}

#about-box {
	height: 98vh;
	background: linear-gradient(
		to left bottom, 
		rgba(231,70,119, 0.9),
		rgba(243,204,216,0.9));
	margin: 16px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}

#developer-img-box {
		height: 400px;
		width: 400px;
	}

#developer-img {
	border-radius:200px;
}

#about-text {
	font-family: 'Raleway', sans-serif;
	padding:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 25px;
}

.Web-Projects-title {
		padding-top: 100px;
	}

.projects-section {
	background: linear-gradient(
		to right bottom, 
		rgba(231,70,119, 0.9),
		rgba(243,204,216,0.9));
	margin: 16px;
	text-align: center;
}

.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 61px 0;
}

.project-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content:space-around;
	width: 46%;
	padding: 50px 10px;
	text-align: center;
	color: white;
}

.projects-img{
	max-height: 300px;
	max-width: 100%;
}

.project-links{
	color: white;
}

ul {
	list-style: none;
}

li {
	padding:5px;
}


#contact-info {
	background: linear-gradient(
		to left bottom, 
		rgba(231,70,119, 0.9),
		rgba(243,204,216,0.9));
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px 15px;
	padding: 30px 0;
	text-align: center;
	color: white;
}

.email-linkedin{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;

}

.email-linkedin a {
	color: white;
}

#follow-button-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fa-envelope {
	font-size: 200px;
}

.fa-linkedin2 {
	font-size: 200px;
}

footer{
	font-family: Droid;
	font-size: 14pt;
	color: gray;
	text-align: center;
	padding:30px 0 40px;
}


@media (orientation: portrait) {
	body {
		font-size: 18px;
	}

	h2{
		font-size: 55px;
	}
	.header{
		height: 99vh;
	}

	.header-primary-main{
		font-size: 200px;
		font-weight: 400;
	}

	.header-primary-sub {
		font-size: 90px;
		font-weight: 400;
	}

	#header-nav {
		font-size: 40pt;
	}

	#about-box {
		max-height: 2100px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		/*flex-wrap: wrap;*/
		text-align: center;
		padding: 10px 5px 0;
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}

	#developer-img-box {
		height: 250px;
	}

	#developer-img {
		margin-top: 0px;
		align-items: center;
		border-radius: 300px;
	}

	#about-text {
		padding:0 20px 10px;
		font-size: 35px;
		letter-spacing:5px;
		text-align: center;
	}
	.mobile-display-resume-followbox{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
	}
	.resume-link-box{
		font-size: 50px;
	}

	.follow-links-box{
		font-size: 50px;
	}

	.Web-Projects-title {
		padding-top: 150px;
	}
	.projects-container {
		margin-top: 0px;
		padding-top: 0px;
	}

	.project-box {
		max-height: 1200px;
		width: 100%;
		color: white;
		font-size: 35pt;
	}

	.projects-img{
		max-height: 600px;
	}

	li {
	padding:10px;
	}


	#contact-info{
		height: 90vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 30pt;
	}

	.email-linkedin{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-content: center;
	margin-top: 200px;

	}


	hr {
		display: none;
	}

	footer{
		padding: 50px 50px 10px;
		font-size: 40px;
	}
}
